on post-fs
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 960000
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "userspace"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_setspeed 960000
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0
    # Always start adbd on userdebug and eng builds
    write /sys/class/android_usb/android0/enable 1
    start adbd